<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Wellvis - {{ page_title }}</title>

	<!-- icon to show in tab corner of browser -->
	<link rel="shortcut icon" type="image/png" 
	href="{{ STATIC_URL }}img/favicon.png">

	<!-- links to css files. First files count less than lter files (last definition counts) -->
	<link href="{{ STATIC_URL }}css/basestyle.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/bootstrap-theme.css" rel="stylesheet">

	{% block styles %}{% endblock %}

</head>

<body>
		<div class="content">
			<!-- BLOCK FOR TOP LINK MENU  -->
			{% include "base/menu.html" %}

				<div class="col-md-12">
					<div id="title">
					{% block title %}
					{% if page_title %}
					<h1>
						{{ page_title }}
					</h1>
					{% endif %}
					{% if headline %}
					<h3>
						{{ headline }}
					</h3>
					{% endif %}
					{% endblock %}
					</div>
					{% block content %}{% endblock %}
				</div>
<!-- SCRIPTS -->
<script src="{{ STATIC_URL }}js/jquery-2.0.3.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/jquery-cookie.js"></script>
<script src="{{ STATIC_URL }}js/sidepanel.js"></script>
<!-- Date picker would be nice at some point-->

{% if messages %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.growl.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	{% for message in messages %}
			// Konfigurasjon av design og innhold ligger i jqery.growl.js
			message = "{{ message|linebreaksbr }}";
			image = "{{ STATIC_URL }}images/icons/{{ message.tags }}.png";
			$.growl("", message, image);
			{% endfor %}
		});
</script>
{% endif %}
{% block scripts %}{% endblock %}
</body>
</html>
