<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Wellvis - {{ page_title }}</title>

	<!-- icon to show in tab corner of browser -->
	<link rel="shortcut icon" type="image/png" 
	href="{{ STATIC_URL }}img/favicon.png">

	<!-- links to css files. First files count less than lter files (last definition counts) -->
	<link href="{{ STATIC_URL }}css/basestyle.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/bootstrap-theme.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/notice.css" rel="stylesheet">

	{% block styles %}{% endblock %}

</head>

<body>
		<div class="content">
			<!-- BLOCK FOR TOP LINK MENU  -->
			{% include "base/menu.html" %}
			{% if user.is_authenticated %}
			{% include "base/sidepanel.html" %}
			{% endif %}

				<div class="col-sm-8 col-md-9">
					{% block title %}
					{% if headline %}
					<h3>
						{{ headline }}
					</h3>
					{% endif %}
					{% endblock %}
					{% block content %}{% endblock %}
				</div>
<!-- SCRIPTS -->
<script src="{{ STATIC_URL }}js/jquery-2.0.3.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/jquery-cookie.js"></script>
<script src="{{ STATIC_URL }}js/sidepanel.js"></script>
<script src="{{ STATIC_URL }}js/jquery.growl.js"></script>
<script src="{{ STATIC_URL }}js/ajax-proxy.js"></script>
<!-- Date picker would be nice at some point-->

{% if messages %}
	<script type="text/javascript">
	$(document).ready(function() {
		{% for message in messages %}
			title = "{{ message.title|linebreaksbr }}";
			msg = "{{ message.msg|linebreaksbr }}";
			image = "{{ STATIC_URL }}img/icons/{{ message.image }}.png";
			$.growl(title, msg, image);
		{% endfor %}
	});
	</script>
{% endif %}

{% block scripts %}{% endblock %}
</body>
</html>
