
{% if sidepanel_hidden == "1" %}
<div class="col-sm-4 col-md-3 sidepanel" style="display:none;">
{% else %}
<div class="col-sm-4 col-md-3 sidepanel">
{% endif %}
<ol class="breadcrumb">
  <li><a href="/dashboard">home</a></li>
  {% if selected_country %}
  <li class="breadcrumb_country"><a href="/country/{{ selected_country.pk }}">{{ selected_country.short_name|lower }}</a></li>
  
  {% if selected_field %}
  <li class="breadcrumb_field"><a href="/field/{{ selected_field.pk }}">{{ selected_field.short_name|lower }}</a></li>
  
  {% if selected_platform %}
  <li class="breadcrumb_platform"><a href="/platform/{{ selected_platform.pk }}">{{ selected_platform.short_name|lower }}</a></li>
  
  {% if selected_well %}
  <li class="breadcrumb_well"><a href="/well/{{ selected_well.pk }}">{{ selected_well.short_name|lower }}</a></li>

  {% endif %}{% endif %}{% endif %}{% endif %}

</ol>

<ul class="nav nav-pills nav-stacked">
  {% if not selected_country %}
    {% if countries %}
      {% for country in countries %}
      <li class="nav_country">
        <a href="/country/{{ country.pk }}">
          <span class="badge pull-right">3</span>
          {{ country.name }}
        </a>
      </li>
      {% endfor %}
    {% endif %}
  {% else %}{% if not selected_field %}
    {% if fields %}
      {% for field in fields %}
      <li class="nav_field">
        <a href="/field/{{ field.pk }}">
          <span class="badge pull-right">3</span>
          {{ field.name }}
        </a>
      </li>
      {% endfor %}
    {% endif %}
  {% else %}{% if not selected_platform %}
    {% if platforms %}
      {% for platform in platforms %}
      <li class="nav_platform">
        <a href="/platform/{{ platform.pk }}">
          <span class="badge pull-right">3</span>
          {{ platform.name }}
        </a>
      </li>
      {% endfor %}
    {% endif %}
  {% else %}{% if not selected_well %}
    {% if wells %}
      {% for well in wells %}
      <li class="nav_well">
        <a href="/well/{{ well.pk }}">
          <span class="badge pull-right">3</span>
          {{ well.name }}
        </a>
      </li>
      {% endfor %}
    {% endif %}
  {% else %}
    <li><a href="/wplan/{{ selected_well.pk }}">wPlan</a></li>
    <li><a href="/wpath/edit/{{ selected_well.pk }}">wPath</a></li>
    <li><a href="/wdesign/{{ selected_well.pk }}">wDesign</a></li>
    <li><a href="/wreport/{{ selected_well.pk }}">wReport</a></li>
  {% endif %}{% endif %}{% endif %}{% endif %}
</ul>
</div>