{% extends "base/main.html" %}

{% block content %}

	<div id="theContainer" style=""> </div>
	<div id="theControlButtonsContainer">
		<button id="toggleGridBtn" class="btn">Toggle Grids</button>

	</div>

{% endblock %}

{% block styles %}

<style>
	body {
		color: #000;
		font-family:Monospace;
		font-size:13px;
		text-align:center;
		font-weight: bold;

		background-color: #fff;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
	}

	#theContainer {
		width: 1000px; 
		height: 500px; 
		border: 1px solid #aaa;
		float: left;
	}

	#theControlButtonsContainer {
		float: left;
		background: #9EABE0;
		width: 250px;
		height: 500px;
		border: 1px solid #fff;
	}

	.btn {
		width: 150px;
		height: 50px;
		background: #ddd;
	}
</style>
{% endblock %}

{% block scripts %}

		<script src="{{ STATIC_URL }}/js/3D/three.min.js"></script>

		<script src="{{ STATIC_URL }}/js/3D/TrackballControls-Modified.js"></script>

		<script src="{{ STATIC_URL }}/js/3D/Detector.js"></script>
		<script src="{{ STATIC_URL }}/js/3D/stats.js"></script>
		<!--<script src="{{ STATIC_URL }}/js/jquery-2.0.3.min.js"></script>-->
		<script src="{{ STATIC_URL }}/js/jquery-ui.js"></script>


		
<script type="text/javascript">
/**
 * @author Pawan Chamling Rai
 */
</script>
<script type="text/javascript">
	//==< for browser logs >===
	function colorTrace(msg, color) {
		console.log("%c" + msg, "color:" + color + ";font-weight:bold;");
	}
</script>
<script type="text/javascript">
 


</script>
<script type="text/javascript">


	if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

	var theContainer = $('#theContainer');
	var stats;

	var theCamera, theControls, theScene, theRenderer;
	var theCameraTarget;

	var cross;

	var theWidth = window.innerWidth;
  	var theHeight = window.innerHeight;
  	
  	//=========================================================
   	//==|| The Default Values ||===============================
   	//=========================================================

   	theWidth = 1000;
   	theHeight = 500;

   	var minX = -200, 
   		maxX = 150;
   	var	minZ = -150, 
   		maxZ = 200;
   	var	theY = 350;

   	var theUnit = 50;

   	//==|| the Main Object that would contain every other object in the scene
	var theMainObject = new THREE.Object3D();

	//==|| The main three Planes
   	var theX_Plane = new THREE.Object3D();
   	var theY_Plane = new THREE.Object3D();
   	var theZ_Plane = new THREE.Object3D();


	   	//==|| The X-Plane Childrens
	 	var theX_PlaneOutline, 		theX_PlaneOutlineGeo, 	theX_PlaneOutlineMaterial;
	 	var theX_PlaneGridLines, 	theX_PlaneGridLinesGeo, theX_PlaneGridLinesMaterial;
	 	var theX_PlaneAxisLine, 	theX_PlaneAxisLineGeo, 	theX_PlaneAxisLineMaterial;
	 	var theX_PlaneOutlineMaterialColor 			= 0xFF0000;
	 	var theX_PlaneOutlineMaterialLineWidth 		= 1;
	 	var theX_PlaneGridLinesMaterialColor 		= 0xAAAAAA;
	 	var theX_PlaneGridLinesMaterialLineWidth 	= 1;
	 	var theX_PlaneAxisLineMaterialColor 		= 0x333333;
	 	var theX_PlaneAxisLineMaterialLineWidth 	= 1;
	 	//==|| The X-Plane Grids
	 	var theX_PlaneGrids =  new THREE.Object3D();


		//==|| The Y-Plane Childrens
	 	var theY_PlaneOutline, 		theY_PlaneOutlineGeo, 	theY_PlaneOutlineMaterial;
     	var theY_PlaneGridLines, 	theY_PlaneGridLinesGeo, theY_PlaneGridLinesMaterial;
     	var theY_PlaneAxisLine, 	theY_PlaneAxisLineGeo, 	theY_PlaneAxisLineMaterial;
	 	var theY_PlaneOutlineMaterialColor 			= 0x00FF00;
	 	var theY_PlaneOutlineMaterialLineWidth 		= 1;
	 	var theY_PlaneGridLinesMaterialColor 		= 0xAAAAAA;
	 	var theY_PlaneGridLinesMaterialLineWidth 	= 1;
	 	var theY_PlaneAxisLineMaterialColor 		= 0x333333;
	 	var theY_PlaneAxisLineMaterialLineWidth 	= 1;
	 	//==|| The X-Plane Grids
	 	var theY_PlaneGrids =  new THREE.Object3D();


		//==|| The Z-Plane Children
     	var theZ_PlaneOutline, 		theZ_PlaneOutlineGeo, 	theZ_PlaneOutlineMaterial;
     	var theZ_PlaneGridLines, 	theZ_PlaneGridLinesGeo, theZ_PlaneGridLinesMaterial;
     	var theZ_PlaneAxisLine, 	theZ_PlaneAxisLineGeo, 	theZ_PlaneAxisLineMaterial;
	 	var theZ_PlaneOutlineMaterialColor 			= 0x0000FF;
	 	var theZ_PlaneOutlineMaterialLineWidth 		= 1;
	 	var theZ_PlaneGridLinesMaterialColor 		= 0xAAAAAA;
	 	var theZ_PlaneGridLinesMaterialLineWidth 	= 1;
	 	var theZ_PlaneAxisLineMaterialColor 		= 0x333333;
	 	var theZ_PlaneAxisLineMaterialLineWidth 	= 1;
	 	//==|| The X-Plane Grids
	 	var theZ_PlaneGrids =  new THREE.Object3D();


 	//==|| The state of the grids
   	var gridIsVisible = true;


   	//==|| The center cursor/sign 
	var theScreenCenter;
	//==|| The length of each arm of the sign
   	var centerSignLength = 10;
   	//==|| The visibility status of the screen center sign
   	var screenCenterIsVisible = true;
   	//==|| The Color of the Screen Center Sign
   	var screenCenterSignColor = 0x000000;


   	//==|| Stores the values/labes for the grids
   	var theY_PlaneLabels = new THREE.Object3D();
   	var theZ_PlaneLabels = new THREE.Object3D();

   	//==|| The distance between the Axes-Plane outline and the grid value/label
   	var labelMargin = 20;




$(document).ready(function() {


	init();
	animate();

	//theCamera.target.x = 0; //(new THREE.Vector3(0, 150, 0));
	//theCamera.target.y = 150; 
	//theCamera.target.z = 0; 

	//theCamera.updateProjectionMatrix();
	//render();
	//animate();




	//===< turn them into jQuery buttons >===
	$(".btn").each(function() {
		$(this).button({});
	});


	//==|| Add the click event ||===
	$("#toggleGridBtn").click(function(){

		if(gridIsVisible) { 
			colorTrace("Grid is going to be invisible", "red");
			gridIsVisible = false;

			//theMainObject.remove(theX_Plane);
			theX_Plane.remove(theX_PlaneGrids);
			//theX_Plane.clear();//remove(theAxisLine);
			//theRenderer.removeObject(theScene, theX_Plane);
			//theScene.update();
			render();
		}
		else {
			colorTrace("Grid is going to be visible","green");
			gridIsVisible = true;
			
			//theMainObject.add(theX_Plane);
			theX_Plane.add(theX_PlaneGrids);
			//theX_Plane.add(theAxisLine);
			//theRenderer.addObject(theScene, theX_Plane);
			//theScene.update();
			render();
		}

	});




}); //==|| dom ready ||========


</script>
<script type="text/javascript">

	function init() {

		//==|| The Camera
		theCamera = new THREE.PerspectiveCamera( 45, theWidth / theHeight, 1, 10000 );
	    /*
	    theCamera.position.x = 0;
	    theCamera.position.y = 75;
		theCamera.position.z = 300;
		*/

	    theCamera.position.x = 213;
	    theCamera.position.y = -26;
	    theCamera.position.z = -248; //==|| Zoom

	    //==| Flip the camera so that the Y is pointing downwards rather than upwards
	    theCamera.up.set( 0, -1, 0 ); 

		//theCamera.rotation.eulerOrder = 'XYZ';
	    //theCamera.lookAt(new THREE.Vector3(100, 100, 0));
	   //	render();
	   // theCamera.target.position.copy(100, 100, 0);
	   // theCamera.updateProjectionMatrix();

	   //==|| The Target for camera to rotate on
	   	theCameraTarget = new THREE.Vector3(-45, 80, -20);

		//==|| The World / The Scene
		theScene = new THREE.Scene();
		theScene.fog = new THREE.FogExp2( 0xEEEEEE, 0.0002 );


		//==|| Create a sign at the center of the screen
		createScreenCenter(theCameraTarget.x, theCameraTarget.y, theCameraTarget.z, centerSignLength);
    	

		//==|| Add Axes Planes to the scene
		addAxesPlanes();




		//==|| The lights

			/*
			light = new THREE.DirectionalLight( 0xffffff );
			light.position.set( 1, 1, 1 );
			theScene.add( light );

			light = new THREE.DirectionalLight( 0x002288 );
			light.position.set( -1, -1, -1 );
			theScene.add( light );

			light = new THREE.AmbientLight( 0x222222 );
			theScene.add( light );
			*/


		//==|| The Renderer
		theRenderer = new THREE.WebGLRenderer( { antialias: false } );
		theRenderer.setClearColor( theScene.fog.color, 1 );
		theRenderer.setSize( theWidth, theHeight );


	    //==|| attach the render-supplied DOM element
	    theContainer.append(theRenderer.domElement);



	    //==|| Add Trackball controls	
		addTrackballControls();


	    //==|| The Statistics
		stats = new Stats();
		stats.domElement.style.position = 'absolute';
		stats.domElement.style.top = '0px';
		stats.domElement.style.zIndex = 100;
		//theContainer.append( stats.domElement ); //==|| Not showing the stats for now


		//==|| On window resize
		window.addEventListener( 'resize', onWindowResize, false );

	}


    function v(x,y,z){ 
    	return new THREE.Vector3(x,y,z); 
    }

    function addTrackballControls() {
    	theControls = new THREE.TrackballControls(theCamera, theCameraTarget,  theRenderer.domElement);

		theControls.rotateSpeed = 2.0;
		theControls.zoomSpeed = 2;
		theControls.panSpeed = 1;

		theControls.noZoom = false;
		theControls.noPan = false;

		theControls.staticMoving = true;
		theControls.dynamicDampingFactor = 0.3;  //==|| Control the speed of drag rotation

		var radius = 24; // scalar value used to determine relative zoom distances

		theControls.minDistance = radius * 0.1;  //==|| Min zoom out distance
		theControls.maxDistance = radius * 235;   //==|| Max zoom out distance


		theControls.keys = [ 65, 83, 68 ];

		theControls.addEventListener( 'change', render );

    }	

	function onWindowResize() {
		colorTrace("On Window Resize", "Blue");

		theCamera.aspect = theWidth / theHeight;
		theCamera.updateProjectionMatrix();

		theRenderer.setSize( theWidth, theHeight );

		theControls.handleResize();

		render();

	}



	function animate() {

		requestAnimationFrame( animate );
		theControls.update();

	}



	function render() {

		theRenderer.render( theScene, theCamera );
		stats.update();

	}


    function createTextCanvas(text, color, font, size) {
        size = size || 24;
        var canvas = document.createElement('canvas');
        var ctx = canvas.getContext('2d');
        var fontStr = (size + 'px ') + (font || 'Arial');
        ctx.font = fontStr;
        var w = ctx.measureText(text).width;
        var h = Math.ceil(size);
        canvas.width = w;
        canvas.height = h;
        ctx.font = fontStr;
        ctx.fillStyle = color || 'black';
        ctx.fillText(text, 0, Math.ceil(size*0.8));
        return canvas;
   	}

   	function createText2D(text, color, font, size, segW, segH) {
        var canvas = createTextCanvas(text, color, font, size);
        var plane = new THREE.PlaneGeometry(canvas.width, canvas.height, segW, segH);
        var tex = new THREE.Texture(canvas);
        tex.needsUpdate = true;
        var planeMat = new THREE.MeshBasicMaterial({
            map: tex, 
            color: 0xffffff, 
            transparent: true, 
            side: THREE.DoubleSide
        });
        var mesh = new THREE.Mesh(plane, planeMat);
        mesh.scale.set(0.25, 0.25, 0.25);
        mesh.doubleSided = true;
        return mesh;
   	}


	function addAxesPlanes() {


		drawX_Plane();
		drawY_Plane();
		drawZ_Plane();
		drawArrowAxisZ();

		//==|| Add the main object to the Scene
		theScene.add(theMainObject);

			



		/*
      	
      	//==|| The Axis Names
		var titleX = createText2D('-X');
      	titleX.position.x = -60;
      	theMainObject.add(titleX);

      	var titleX = createText2D('X');
      	titleX.position.x = 60;
      	theMainObject.add(titleX);

      	var titleX = createText2D('-Y');
      	titleX.position.y = -60;
      	theMainObject.add(titleX);

      	var titleX = createText2D('Y');
      	titleX.position.y = 60;
      	theMainObject.add(titleX);

      	var titleX = createText2D('-Z');
      	titleX.position.z = -60;
      	theMainObject.add(titleX);

      	var titleX = createText2D('Z');
     	titleX.position.z = 60;
      	theMainObject.add(titleX);
		
		*/




	}



	function drawX_Plane() {

      	//==|| The X Plane

    	//==|| The Outline Material
      	theX_PlaneOutlineMaterial = new THREE.LineBasicMaterial( {
      			color: theX_PlaneOutlineMaterialColor, 
      			lineWidth: theX_PlaneOutlineMaterialLineWidth
      		}
      	);

      	//==|| The Gridline Material
		theX_PlaneGridLinesMaterial = new THREE.LineBasicMaterial( {
      			color: theX_PlaneGridLinesMaterialColor, 
      			lineWidth: theX_PlaneGridLinesMaterialLineWidth
      		}
      	);

		//==|| the AxisLine Material
		theX_PlaneAxisLineMaterial = new THREE.LineBasicMaterial( {
      			color: theX_PlaneAxisLineMaterialColor, 
      			lineWidth: theX_PlaneAxisLineMaterialLineWidth
      		}
      	);


		//==|| the Outline Geometry
      	theX_PlaneOutlineGeo = new THREE.Geometry();
      	theX_PlaneOutlineGeo.vertices.push(

      		v(minX, 0, maxZ), v(maxX, 0, maxZ),
      		v(maxX, 0, maxZ), v(maxX, theY, maxZ),
      		v(maxX, theY, maxZ), v(minX, theY, maxZ),
      		v(minX, theY, maxZ), v(minX, 0, maxZ)


      	);


      	//==|| the Outline
      	theX_PlaneOutline = new THREE.Line(theX_PlaneOutlineGeo, theX_PlaneOutlineMaterial);
      	theX_PlaneOutline.type = THREE.Lines;



      	//==|| Checking how many grids are there in width, lenght and height
      	var noOfGridsInLength = ((-1 * minX) + maxX) / theUnit;
      	var noOfGridsInHeight = (theY / theUnit)

      	//==|| The Gridlines Geometry
		theX_PlaneGridLinesGeo = new THREE.Geometry();

      	//==|| If more than 2 grids we need to draw additional lines
      	if(noOfGridsInLength > 1){		      		
	      	for(var value = (minX + theUnit); value <= (maxX - theUnit); value += theUnit) {
	      		if(value != 0) {
	      			theX_PlaneGridLinesGeo.vertices.push(
	      				v(value, 0, maxZ), v(value, theY, maxZ)
	      			);
	      		}	
	      	}
	   	}

		//==|| If more than 2 grids we need to draw additional lines
      	if(noOfGridsInHeight > 1){		      		
	      	for(var value = (theUnit); value <= (theY - theUnit); value += theUnit) {
      			theX_PlaneGridLinesGeo.vertices.push(
      				v(minX, value, maxZ), v(maxX, value, maxZ)
      			);			      		
	      	}
	   	}


      	//==|| the Gridlines
      	theX_PlaneGridLines = new THREE.Line(theX_PlaneGridLinesGeo, theX_PlaneGridLinesMaterial);
      	theX_PlaneGridLines.type = THREE.Lines;

	   	//==|| The AxisLine Geometry
		theX_PlaneAxisLineGeo = new THREE.Geometry();
      	theX_PlaneAxisLineGeo.vertices.push(
      		v(0, 0, maxZ), v(0, theY, maxZ)
      	);

      	//==|| The AxisLine
      	theX_PlaneAxisLine = new THREE.Line(theX_PlaneAxisLineGeo, theX_PlaneAxisLineMaterial);
      	theX_PlaneAxisLine.type = THREE.Lines;


      	//==|| Adding axis line to the Plane Grids object  	
      	theX_PlaneGrids.add(theX_PlaneGridLines);		      	
      	theX_PlaneGrids.add(theX_PlaneAxisLine);

      	//==|| Adding different lines in the X-Plane  
      	theX_Plane.add(theX_PlaneOutline);
      	theX_Plane.add(theX_PlaneGrids);

      	//==|| Adding the X-Plane to the MainObject
      	theMainObject.add(theX_Plane);

	}



	function drawY_Plane() {

      	//==|| The Y Plane

     

     	//==|| The Outline Material
      	theY_PlaneOutlineMaterial = new THREE.LineBasicMaterial( {
      			color: theY_PlaneOutlineMaterialColor, 
      			lineWidth: theY_PlaneOutlineMaterialLineWidth
      		}
      	);

      	//==|| The Gridline Material
		theY_PlaneGridLinesMaterial = new THREE.LineBasicMaterial( {
      			color: theY_PlaneGridLinesMaterialColor, 
      			lineWidth: theY_PlaneGridLinesMaterialLineWidth
      		}
      	);

		//==|| the AxisLine Material
		theY_PlaneAxisLineMaterial = new THREE.LineBasicMaterial( {
      			color: theY_PlaneAxisLineMaterialColor, 
      			lineWidth: theY_PlaneAxisLineMaterialLineWidth
      		}
      	);


		//==|| The Outline Geometry
      	theY_PlaneOutlineGeo = new THREE.Geometry();
      	theY_PlaneOutlineGeo.vertices.push(

      		v(minX, 0, minZ), v(minX, 0, maxZ),
      		v(minX, 0, maxZ), v(minX, theY, maxZ),
      		v(minX, theY, maxZ), v(minX, theY, minZ),
      		v(minX, theY, minZ), v(minX, 0, minZ)


      	);

      	//==|| The Outline
      	theY_PlaneOutline = new THREE.Line(theY_PlaneOutlineGeo, theY_PlaneOutlineMaterial);
      	theY_PlaneOutline.type = THREE.Lines;

      	


      	//==|| Checking how many grids are there in width, lenght and height
      	var noOfGridsInBreadth = ((-1 * minZ) + maxZ) / theUnit;
      	var noOfGridsInHeight = (theY / theUnit)

      	//==|| The Gridlines Geometry
		theY_PlaneGridLinesGeo = new THREE.Geometry();

      	//==|| If more than 2 grids we need to draw additional lines
      	if(noOfGridsInBreadth > 1){		      		
	      	for(var value = (minZ + theUnit); value <= (maxZ - theUnit); value += theUnit) {
	      		if(value != 0) {
	      			theY_PlaneGridLinesGeo.vertices.push(
	      				v(minX, 0, value), v(minX, theY, value)
	      			);
	      		}	
	      	}
	   	}

		//==|| If more than 2 grids we need to draw additional lines
      	if(noOfGridsInHeight > 1){		      		
	      	//for(var value = (theUnit); value <= (theY - theUnit); value += theUnit) {
	      	for(var value = 0; value <= theY; value += theUnit) {
	      		if(value > 0 && value < theY){
	      			theY_PlaneGridLinesGeo.vertices.push(
	      				v(minX, value, minZ), v(minX, value, maxZ)
	      			);
	      		}

			   	var gridValue = createText2D(value + '', "#000000", "Arial", 60);
		     	gridValue.position.x = minX;
		     	gridValue.position.y = value;
		     	gridValue.position.z = minZ - labelMargin;
		      //	theMainObject.add(gridValue);


		      	//==|| Rotating the text/label/value to level it with the Y-Plane
		      	gridValue.rotation.set(Math.PI, Math.PI/2, 0);

		      	theY_PlaneLabels.add(gridValue);
		      	
		      	//var axis = new THREE.Vector3(0.5,0.5,0);

		      	//theY_PlaneLabels.rotation.set(0, Math.PI, 0);

	      	}
	   	}




      	//==|| the Gridlines
      	theY_PlaneGridLines = new THREE.Line(theY_PlaneGridLinesGeo, theY_PlaneGridLinesMaterial);
      	theY_PlaneGridLines.type = THREE.Lines;

	   	//==|| The AxisLine Geometry
		theY_PlaneAxisLineGeo = new THREE.Geometry();
      	theY_PlaneAxisLineGeo.vertices.push(
      		v(minX, 0, 0), v(minX, theY, 0)
      	);

      	//==|| The AxisLine
      	theY_PlaneAxisLine = new THREE.Line(theY_PlaneAxisLineGeo, theY_PlaneAxisLineMaterial);
      	theY_PlaneAxisLine.type = THREE.Lines;




      	//==|| Adding axis line to the Plane Grids object  	
      	theY_PlaneGrids.add(theY_PlaneGridLines);		      	
      	theY_PlaneGrids.add(theY_PlaneAxisLine);

      	//==|| Adding different lines in the Y-Plane
      	theY_Plane.add(theY_PlaneOutline);
      	theY_Plane.add(theY_PlaneGrids);


      	//==|| Adding the labels/values in the Y-Plane
		theY_Plane.add(theY_PlaneLabels);

		//==|| Adding the X-Plane to the MainObject
      	theMainObject.add(theY_Plane);

	}



	function drawZ_Plane() {

      	//==|| The Z Plane
     	var theZ_PlaneOutline, 		theZ_PlaneOutlineGeo, 	theZ_PlaneOutlineMaterial;
     	var theZ_PlaneGridLines, 	theZ_PlaneGridLinesGeo, theZ_PlaneGridLinesMaterial;
     	var theZ_PlaneAxisLine, 	theZ_PlaneAxisLineGeo, 	theZ_PlaneAxisLineMaterial;

     	//==|| The Outline Material
      	theZ_PlaneOutlineMaterial = new THREE.LineBasicMaterial( {
      			color: theZ_PlaneOutlineMaterialColor, 
      			lineWidth: theZ_PlaneOutlineMaterialLineWidth
      		}
      	);

      	//==|| The Gridline Material
		theZ_PlaneGridLinesMaterial = new THREE.LineBasicMaterial( {
      			color: theZ_PlaneGridLinesMaterialColor, 
      			lineWidth: theZ_PlaneGridLinesMaterialLineWidth
      		}
      	);

		//==|| the AxisLine Material
		theZ_PlaneAxisLineMaterial = new THREE.LineBasicMaterial( {
      			color: theZ_PlaneAxisLineMaterialColor, 
      			lineWidth: theZ_PlaneAxisLineMaterialLineWidth
      		}
      	);


     	//==|| The Outline Geometry
      	theZ_PlaneOutlineGeo = new THREE.Geometry();
      	theZ_PlaneOutlineGeo.vertices.push(

      		v(minX, theY, minZ), v(minX, theY, maxZ),
      		v(minX, theY, maxZ), v(maxX, theY, maxZ),
      		v(maxX, theY, maxZ), v(maxX, theY, minZ),
      		v(maxX, theY, minZ), v(minX, theY, minZ)


      	);

      	//==|| The Outline
      	theZ_PlaneOutline = new THREE.Line(theZ_PlaneOutlineGeo, theZ_PlaneOutlineMaterial);
      	theZ_PlaneOutline.type = THREE.Lines;






      	//==|| Checking how many grids are there in width, lenght and height
      	var noOfGridsInBreadth = ((-1 * minZ) + maxZ) / theUnit;
      	var noOfGridsInLength = ((-1 * minX) + maxX) / theUnit;

      	//==|| The Gridlines Geometry
		theZ_PlaneGridLinesGeo = new THREE.Geometry();

      	//==|| If more than 2 grids we need to draw additional lines
      	if(noOfGridsInBreadth > 1){		      		
	      	//for(var value = (minZ + theUnit); value <= (maxZ - theUnit); value += theUnit) {
	      	for(var value = minZ; value <= maxZ; value += theUnit) {
	      		if(value > minZ && value < maxZ) {
		      		if(value != 0) {
		      			theZ_PlaneGridLinesGeo.vertices.push(
		      				v(minX, theY, value), v(maxX, theY, value)
		      			);
		      		}
		      	}

		      	var gridValue = createText2D(value + '', "#000000", "Arial", 60);
		     	gridValue.position.x = maxX + labelMargin;
		     	gridValue.position.y = theY;
		     	gridValue.position.z = value;

		      	//==|| Rotating the text/label/value to level it with the Y-Plane
		      	gridValue.rotation.set(Math.PI/2, 0, 0);

		      	theZ_PlaneLabels.add(gridValue);

	      	}
	   	}

		//==|| If more than 2 grids we need to draw additional lines
      	if(noOfGridsInLength > 1){		      		
	      	//for(var value = (minX + theUnit); value <= (maxX - theUnit); value += theUnit) {
	      	for(var value = minX + theUnit; value <= maxX; value += theUnit) {
	      		if(value > minX && value < maxX){
		      		if(value != 0) {
		      			theZ_PlaneGridLinesGeo.vertices.push(
		      				v(value, theY, maxZ), v(value, theY, minZ)
		      			);
		      		}
	      		}

	      		var gridValue = createText2D(value + '', "#000000", "Arial", 60);
		     	gridValue.position.x = value;
		     	gridValue.position.y = theY;
		     	gridValue.position.z = minZ - labelMargin;

		      	//==|| Rotating the text/label/value to level it with the Y-Plane
		      	gridValue.rotation.set(Math.PI/2, 0, 0);

		      	theY_PlaneLabels.add(gridValue);


	      	}
	   	}


      	//==|| the Gridlines
      	theZ_PlaneGridLines = new THREE.Line(theZ_PlaneGridLinesGeo, theZ_PlaneGridLinesMaterial);
      	theZ_PlaneGridLines.type = THREE.Lines;

	   	//==|| The AxisLine Geometry
		theZ_PlaneAxisLineGeo = new THREE.Geometry();
      	theZ_PlaneAxisLineGeo.vertices.push(
      		v(minX, theY, 0), v(maxX, theY, 0),
      		v(0, theY, maxZ), v(0, theY, minZ)
      	);

      	//==|| The AxisLine
      	theZ_PlaneAxisLine = new THREE.Line(theZ_PlaneAxisLineGeo, theZ_PlaneAxisLineMaterial);
      	theZ_PlaneAxisLine.type = THREE.Lines;





      	//==|| Adding axis line to the Plane Grids object  	
      	theZ_PlaneGrids.add(theZ_PlaneGridLines);		      	
      	theZ_PlaneGrids.add(theZ_PlaneAxisLine);

      	//==|| Adding different lines in the Z-Plane
      	theZ_Plane.add(theZ_PlaneOutline);
      	theZ_Plane.add(theZ_PlaneGrids);


		//==|| Adding the labels/values in the Z-Plane
      	theZ_Plane.add(theZ_PlaneLabels);


      	//==|| Adding the X-Plane to the MainObject
      	theMainObject.add(theZ_Plane);

	}


	function drawArrowAxisZ() {

		var arrowAxisZ, arrowAxisZmaterial, arrowAxisZgeo;

		//==|| The Outline Material
      	arrowAxisZmaterial = new THREE.LineBasicMaterial( {
      			color: 0x000000, 
      			lineWidth: 2
      		}
      	);


      	var midZ = maxZ + minZ; 
      	var arrowAxisZ_Margin = 50;

		//==|| The Outline Geometry
      	var arrowAxisZgeo = new THREE.Geometry();
      	arrowAxisZgeo.vertices.push(

      		v(maxX + arrowAxisZ_Margin, theY, midZ), v(maxX + arrowAxisZ_Margin, theY, midZ - 30),
      		v(maxX + arrowAxisZ_Margin, theY, midZ - 30), v(maxX + arrowAxisZ_Margin - 10, theY, midZ - 30),
      		v(maxX + arrowAxisZ_Margin, theY, midZ), v(maxX + arrowAxisZ_Margin, theY, midZ + 30),
      		v(maxX + arrowAxisZ_Margin, theY, midZ + 30), v(maxX + arrowAxisZ_Margin - 10, theY, midZ + 10),
      		v(maxX + arrowAxisZ_Margin, theY, midZ + 30), v(maxX + arrowAxisZ_Margin + 10, theY, midZ + 10)


      	);


		//==|| The Outline
      	arrowAxisZ = new THREE.Line(arrowAxisZgeo, arrowAxisZmaterial);
      	arrowAxisZ.type = THREE.Lines;

		theMainObject.add(arrowAxisZ);

	}



	function createScreenCenter(x, y, z, centerSignLength) {

		//==|| The Screen Center
      	var theScreenCenterMaterial = new THREE.LineBasicMaterial( {
      			color: screenCenterSignColor, 
      			lineWidth: 1
      		}
      	);

      	//var centerSignLength = 10;
		//==|| the Outline Geometry
      	var theScreenCenterGeo = new THREE.Geometry();
      	theScreenCenterGeo.vertices.push(
      		v(x - centerSignLength, y, z), v(x + centerSignLength, y, z),
      		v(x, y - centerSignLength, z), v(x, y + centerSignLength, z),
      		v(x, y, z - centerSignLength), v(x, y, z + centerSignLength)

      	);


      	//==|| the Outline
      	theScreenCenter = new THREE.Line(theScreenCenterGeo, theScreenCenterMaterial);
      	theScreenCenter.type = THREE.Lines;

      	theMainObject.add(theScreenCenter);
      	//theScreenCenter.position.set(theCameraTarget.x, theCameraTarget.y, theCameraTarget.z)
      	//theScreenCenter.position.set(0, 0, 100)


	}

	function updateScreenCenter(x, y, z) {
		colorTrace("Update Screen Center called ", "Green");

		theScreenCenter.position.x = x;
		theScreenCenter.position.y = y;
		theScreenCenter.position.z = z;

	}






</script>



{% endblock %}


<!--
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Wellvis - 3D Quadrants</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		

	</head>

	<body>

	</body>
</html>
-->